html,
body,
.fluid-container {
    width: 100%;
    height: 100%;
}

.fluid-container {
    min-width: 800px;
}

html {
    font-size: 16px;
}

iframe {
    max-width: 100%;
}

::-moz-selection {
    color: white;
    background-color: #f47932;
}

::selection {
    color: white;
    background-color: #f47932;
}

.side-nav {
    transform: translateX(0);
    max-width: 100%;
}

.side-nav .userView {
    min-height: 300px;
}

.side-nav.collapsible {
    border: 0;
}

.side-nav .collapsible-body {
    padding: 0;
}

.side-nav li > a {
    padding: 0 16px;
    font-size: 16px;
}

.content {
    position: relative;
    margin-left: 300px;
    min-height: 100%;
}

.layout-full,
.preloader-cont {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 300px;
}

.preloader-cont {
    background-color: rgba(255, 255, 255, .4);
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
    overflow: hidden;
}

.preloader-cont.active {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.preloader-wrapper {
    margin: auto;
}

.spinner-layer {
    border-color: #f47932 !important;
}

.content-inner {
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}

.content-inner.visible {
    opacity: 1;
}

.parallax-container.top {
    height: 300px;
}

.parallax-container.bottom {
    height: 200px;
}

.lesson-image-wrap {
    text-align: center;
}

.lesson-image-wrap img:not(.active) {
    max-width: 100%;
    cursor: pointer;
}

.question ul li {
    list-style: lower-alpha;
    margin-left: 20px;
}

.question > li {
    margin-bottom: 15px;
}

.tabs {
    overflow-x: hidden;
}

.frame {
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 300px;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.center-align img {
    max-width: 100%;
    height: auto;
}

@media all and (max-width: 1300px) {
    .side-nav {
        width: 260px;
    }

    .content {
        margin-left: 260px;
    }

    .layout-full,
    .preloader-cont {
        left: 260px;
    }

    .frame {
        padding-left: 260px;
    }
}

@media all and (max-width: 1100px) {
    .container {
        width: 90% !important;
    }
}