
.reveal {
    transition: opacity .4s;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.reveal section img {
    border: none;
    box-shadow: none;
}

.reveal .small-text {
    font-size: .7em;
}